<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <% if @assignments.empty? %>
    <h1 class="p-10 text-lg text-gray-600">There are no assignments for you at the moment. Check back again soon</h1>
  <% end %>
  <ul>
    <% @assignments.each do |assignment| %>
    <li>
      <%= link_to translation_assignment_path(assignment), class: 'block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out' do %>
        <%= render 'translation_assignments/assignment_link', assignment: assignment %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
