<div class="relative bg-gray-50">
  <main class="lg:relative">
    <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
      <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl lg:text-5xl xl:text-6xl">
          Professional linguistic services
        </h2>
        <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
          We specialise in translations, interpreting, and proofreading, multilingual transcriptions, voice-over services and subtitling.
        </p>
        <p class="mt-8 text-sm text-black tracking-wide font-semibold sm:mt-10">Sign in or Sign up as Translator</p>
        <div class="mt-2 sm:flex sm:justify-center lg:justify-start">
          <div class="rounded-md shadow">
            <%= link_to "Connect via cirro", user_cirro_omniauth_authorize_path, class:"w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10" %>
          </div>
        </div>
      </div>
    </div>
    <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
      <img class="absolute inset-0 w-full h-full object-cover" src="https://pixabay.com/get/57e6d3424d51ac14f6d1867dda35367b1c37dde056597641_1920.jpg">
    </div>
  </main>
</div>
